RewriteEngine On
RewriteBase /views/
RewriteRule ^bibliothek\.php$  bibliothek.php 
RewriteRule ^fachschaften\.php$  fachschaften.php
RewriteRule ^kontakte\.php$  kontakte.php
RewriteRule ^mensa\.php$  mensa.php
RewriteRule ^portale\.php$  portale.php
RewriteRule ^schwarzesbrett\.php$  schwarzesbrett.php
RewriteRule ^studiengaenge\.php$  studiengaenge.php
RewriteRule ^stundenplaene\.php$  stundenplaene.php
RewriteRule ^suche\.php$  suche.php
RewriteRule ^termine\.php$  termine.php
RewriteRule ^veranstaltungen\.php$  veranstaltungen.php